@use '@/styles/_mixins.scss' as m;

.wrap {
  position: relative;

  .quotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing-3);
    position: relative;
    z-index: 2;

    > * {
      flex: calc(50% - var(--spacing-3));
      aspect-ratio: 9 / 6;
      background: rgba(rgb(248, 243, 217), 0.5);
      backdrop-filter: blur(30px);
      border-radius: var(--spacing-3);
      overflow: hidden;

      @include m.breakpoint(mobile) {
        flex: 100%;
        aspect-ratio: unset;
      }

      &:first-child {
        border: 2px solid #ffcf00;
      }
      &:nth-child(2) {
        border: 2px solid #21d895;
      }
      &:nth-child(3) {
        border: 2px solid #ed7d31;
      }
      &:last-child {
        border: 2px solid #4b90ff;
      }
    }
  }

  .backgroundText {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% + var(--spacing-20));
    height: calc(100% + var(--spacing-10));
    margin-top: -10px;
    margin-left: -calc(var(--spacing-5));
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    span {
      justify-self: center;
      align-self: center;
      font-size: 6rem;
      font-weight: 900;

      &:nth-child(5) {
        grid-column: 1 / 2;
      }
      &:nth-child(6) {
        grid-column: 4 / 5;
      }

      &:nth-child(1),
      &:nth-child(5) {
        justify-self: flex-start;
      }
      &:nth-child(4),
      &:nth-child(6) {
        justify-self: flex-end;
      }
    }
  }
}
