@use '@/shared/styles/_mixins.scss' as m;

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 320px 0 0;
  border-radius: var(--spacing-3);
  background: #ffffff;
  border: 1px solid var(--background-tertiary);
  transition: transform 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-2px);
  }

  @include m.breakpoint(mobile) {
    flex: 80% 0 0;
  }
}
