@use '@/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2) 0;
  color: rgba(var(--color-primary-inverse-rgb), 0.6);

  .subTitle {
    textPath {
      fill: var(--theme-background-quaternary);
    }
  }

  .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(var(--color-point-orange-rgb), 0.9);
    font-size: 3rem;
    line-height: 1.4;
    text-shadow: 1.5px 1.5px 0 rgba(var(--color-primary-inverse-rgb), 0.9);

    span {
      font-weight: var(--font-weight-title);
    }

    .secondLine {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .rotateText {
      width: 280px;
      height: 62px;
      position: relative;
      background: var(--theme-background-tertiary);
      color: var(--theme-background-primary);
      font-size: 2rem;
      border-radius: var(--spacing-2);
      text-shadow: none;
      perspective: 600px;

      .word {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        background: var(--theme-background-quaternary);
        border-radius: var(--spacing-2);
        backface-visibility: hidden;
        animation: rotateWords 6s infinite;
        animation-fill-mode: both;
      }

      .word:nth-child(1) {
        animation-delay: 0s;
      }
      .word:nth-child(2) {
        animation-delay: 2s;
      }
      .word:nth-child(3) {
        animation-delay: 4s;
      }
    }
  }

  .tagline {
    padding: 0 var(--spacing-10);
    position: relative;
    color: var(--theme-background-primary);
    background: var(--theme-background-tertiary);
    border-radius: var(--spacing-1);
    font-size: 1.2rem;
    font-weight: var(--font-weight-subtitle);

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      border: 18px solid transparent;
    }

    &:before {
      left: -1px;
      border-left: 18px solid var(--theme-background-primary);
    }
    &:after {
      right: -1px;
      border-right: 18px solid var(--theme-background-primary);
    }

    @include m.breakpoint(tablet) {
      &:before,
      &:after {
        border: 14px solid transparent;
      }
      &:before {
        border-left: 14px solid var(--theme-background-primary);
      }
      &:after {
        border-right: 14px solid var(--theme-background-primary);
      }
    }

    @include m.breakpoint(mobile) {
      &:before,
      &:after {
        border: 10px solid transparent;
      }
      &:before {
        border-left: 10px solid var(--theme-background-primary);
      }
      &:after {
        border-right: 10px solid var(--theme-background-primary);
      }
    }
  }
}

@include m.breakpoint(tablet) {
  .wrap {
    .mainText {
      font-size: 2.5rem;

      .rotateText {
        width: 224px;
        height: 50px;
      }
    }
  }
}

@include m.breakpoint(mobile) {
  .wrap {
    .mainText {
      .rotateText {
        width: 174px;
        height: 32px;
      }
    }

    .tagline {
      height: 22px;
    }
  }
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  10% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  30% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  40% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
}
