.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;

  header {
    text-align: center;
    margin-bottom: var(--spacing-6);

    @media (max-width: 768px) {
      margin-bottom: 48px;
    }

    .title {
      font-size: 3rem;
      font-weight: 600;
    }
  }
}
