@use '@/shared/styles/_mixins.scss' as m;

.wrap {
  .snapPoint {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    height: 100vh;

    @include m.breakpoint(mobile) {
      scroll-snap-align: none;
      scroll-snap-stop: normal;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 900px;
    width: 800px;
    max-width: 60%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease-in,
      visibility 0.3s ease-in;

    @include m.breakpoint(tablet) {
      min-width: 600px;
      width: 500px;
      max-width: 80%;
    }

    @include m.breakpoint(mobile) {
      min-width: unset;
      width: unset;
      max-width: unset;
      opacity: 1;
      visibility: visible;
      transition: none;
    }

    &.isFixed {
      opacity: 1;
      visibility: visible;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      left: calc((var(--sidebar-width) / 2) + 50%);
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      pointer-events: none;

      > * {
        pointer-events: none;
      }
    }

    header {
      text-align: center;
      margin-bottom: var(--spacing-10);

      @include m.breakpoint(tablet) {
        margin-bottom: 48px;
      }

      .title {
        font-size: 3rem;
        font-weight: 600;
      }
    }

    main.achievements {
      display: grid;
      grid-template-columns: 1fr 480px;
      gap: var(--spacing-10);

      .backgroundText {
        align-self: flex-end;
        color: rgba($color: #000000, $alpha: 0.1);
        font-size: 5rem;
        font-weight: 900;
        text-align: right;
      }

      .cardsWrap {
        overflow: hidden;
        position: relative;

        &::after {
          content: '';
          width: var(--spacing-10);
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
          pointer-events: none;
          background: linear-gradient(
            to right,
            transparent,
            var(--theme-background-primary)
          );

          @include m.breakpoint(mobile) {
            display: none;
          }
        }

        > ul {
          display: flex;
          gap: var(--achievement-card-gap);
          position: relative;

          > li {
            flex: var(--achievement-card-width) 0 0;
            background: #f6f5ef;
            border-radius: var(--spacing-3);
            border: 1px solid var(--theme-background-tertiary);
            overflow: hidden;
            aspect-ratio: 1 / 1;
          }

          @include m.breakpoint(mobile) {
            flex-direction: column;
            flex: auto;

            > li {
              flex: unset;
              aspect-ratio: unset;
            }
          }
        }
      }

      @include m.breakpoint(tablet) {
        position: relative;
        grid-template-columns: 1fr;

        .backgroundText {
          position: absolute;
        }

        .cardsWrap {
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}
