.subMessage {
  font-size: 18px;
  font-weight: 300;
  color: #616161;
  margin-bottom: var(--spacing-10);

  @media (max-width: 768px) {
    font-size: 16px;
    margin-bottom: var(--spacing-6);
  }

  .subMessageLine {
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
