@use '@/shared/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  &:after {
    content: '404';
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    @include m.font(
      $color: var(--theme-background-quaternary),
      $font-size: 20rem,
      $font-weight: var(--font-weight-title)
    );
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    border: 1px solid var(--theme-background-quaternary);
    border-radius: 50%;
    aspect-ratio: auto 1/1;
    opacity: 0.4;

    svg {
      fill: var(--theme-background-quaternary);
    }

    span {
      position: fixed;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
    }
  }

  p {
    @include m.font(
      $color: var(--theme-background-quaternary),
      $font-weight: var(--font-weight-subtitle),
      $text-align: center
    );
  }

  .buttons {
    display: flex;
    margin-top: var(--spacing-4);
    position: relative;
    z-index: 2;
    @include m.font($font-weight: var(--font-weight-base), $text-align: center);

    > * {
      flex: 1;
      padding: var(--spacing-2) 0;
      border: 1px solid var(--theme-background-quaternary);
      border-radius: var(--spacing-2);

      &:hover {
        cursor: pointer;
        border-color: inherit;
      }
    }
  }
}
