@use '@/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .title {
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    margin: 0;
  }

  @include m.breakpoint(tablet) {
    .title {
      font-size: 28px;
    }
  }

  @include m.breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .title {
      font-size: 24px;
    }
  }
}


