.wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;

  .statValue {
    font-size: 2rem;
    font-weight: 700;
    color: #2962ff;
  }

  .statLabel {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
  }

  .statDescription {
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    opacity: 0.8;
  }
}
