[data-theme='dark'] {
  // 변수 정의
  --accents-9: #fff;
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;

  // background
  --background-default: #121212;
  --background-primary: #2f2f2f;
  --background-secondary: #1e3a8a;
  --background-primary-inverse-rgb: 245, 245, 245;

  // point
  --point-orange: #ffb84d;
  --point-amber: #ff5722;
  --point-mint: #00b0b9;

  // Structure
  --header-background: #121212cc;
}
