[data-theme='light'] {
  // 변수 정의
  --accents-9: #000;
  --accents-8: #111;
  --accents-7: #333;
  --accents-6: #444;
  --accents-5: #666;
  --accents-4: #888;
  --accents-3: #999;
  --accents-2: #eaeaea;
  --accents-1: #fafafa;

  // background
  --background-default: #fff;
  --background-primary: #f5f5f5;
  --background-secondary: #1e3a8a;

  // point
  --point-orange: #ffb84d;
  --point-amber: #ff5722;
  --point-mint: #00b0b9;

  // Structure
  --header-background: #fffc;
}
