@import './themes/_dark.scss';
@import './themes/_light.scss';

:root {
  /** common **/
  // text
  --thema-text-default: var(--accents-5);
  --thema-text-secondary: var(--accents-8);

  // background & foreground
  --thema-background-default: var(--background-default);
  --thema-background-primary: var(--background-primary);
  --thema-background-secondary: var(--background-secondary);
  --thema-foreground: var(--accents-9);

  // border
  --thema-border-default: var(--accents-3);

  // hover & active
  --thema-hover-text: var(--accents-7);
  --thema-active-text: var(--accents-7);

  // point
  --thema-point-orange: var(--point-orange);
  --thema-point-amber: var(--point-amber);
  --thema-point-mint: var(--point-mint);

  /** Structure **/
  --height-header: 64px;
  --container-padding: 0 24px;

  // Structure Color
  --thema-header-background: var(--header-background);
}
