@use '@/styles/_function.scss' as fn;

@import './themes/_dark.scss';
@import './themes/_light.scss';

:root {
  // text
  --theme-text-default: var(--accents-5);
  --theme-text-primary: var(--accents-9);
  --theme-text-secondary: var(--accents-8);

  // background
  --theme-background-primary: var(--background-primary);
  --theme-background-secondary: var(--background-secondary);
  --theme-background-tertiary: var(--background-tertiary);
  --theme-background-quaternary: var(--background-quaternary);

  // color
  --theme-color-point: var(--color-point);
  --theme-color-primary-inverse-rgb: var(--color-primary-inverse-rgb);
  --theme-color-secondary-inverse-rgb: var(--background-secondary-inverse-rgb);

  // border
  --theme-border-default: var(--accents-3);

  // hover & active
  --theme-hover-text: var(--accents-7);
  --theme-active-text: var(--point-orange);

  // point
  --theme-point-orange: var(--point-orange);
  --theme-point-amber: var(--point-amber);
  --theme-point-mint: var(--point-mint);

  /************ Structure ************/
  --sidebar-width: 120px;
  --container-padding: 0 24px;

  // structure Color
  --theme-header-background: var(--header-background);

  // spacing
  --spacing-1: #{fn.spacing(1)};
  --spacing-2: #{fn.spacing(2)};
  --spacing-3: #{fn.spacing(3)};
  --spacing-4: #{fn.spacing(4)};
  --spacing-5: #{fn.spacing(5)};
  --spacing-6: #{fn.spacing(6)};
  --spacing-10: #{fn.spacing(10)};
  --spacing-16: #{fn.spacing(16)};
  --spacing-20: #{fn.spacing(20)};
  --spacing-30: #{fn.spacing(30)};

  // font
  --font-weight-base: 300; // 기본 텍스트
  --font-weight-title: 700; // 타이틀
  --font-weight-subtitle: 600; // 서브타이틀
  --font-weight-detail: 500; // 추가 서브타이틀
}
