@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_reset';
@import '_variables';

:root {
  /** 변수 정의 **/
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;

  /* background */
  --background-default: #121212;
  --background-primary: #2f2f2f;
  --background-secondary: #1e3a8a;

  /* point */
  --point-orange: #ffb84d;
  --point-amber: #ff5722;
  --point-mint: #00b0b9;

  /** 테마 정의(default: dark) **/
  --thema-background-default: var(--accents-5);
  --thema-text-default: var(--accents-5);
  --thema-text-secondary: var(--accents-8);
  --thema-background-default: var(--background-default);
  --thema-background-primary: var(--background-primary);
  --thema-background-secondary: var(--background-secondary);
  --thema-point-orange: var(--point-orange);
  --thema-point-amber: var(--point-amber);
  --thema-point-mint: var(--point-mint);
}

html,
body {
  height: 100vh;
  background: var(--thema-background-default);
}
