@use '_reset';
@use '_variables';

html,
body {
  height: 100vh;
  background: var(--theme-background-default);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-rows: var(--height-header) 1fr var(--height-footer);
}

button,
a,
select {
  color: var(--theme-text-default);

  &:hover {
    color: var(--theme-active-text);
  }
}
