@use '@/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  flex: 1;
  width: 100%;
  color: var(--theme-text-primary);

  @media (max-width: 1200px) and (min-width: 769px) {
    padding: var(--spacing-4);
    gap: var(--spacing-3);
  }

  @include m.breakpoint(tablet) {
    padding: var(--spacing-4);
    gap: var(--spacing-3);
  }

  @include m.breakpoint(mobile) {
    padding: var(--spacing-3);
    gap: var(--spacing-2);
  }
}
