.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--theme-text-default);

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 var(--spacing-2);
    border-bottom: 1px solid var(--theme-border-default);
    transition: color 0.2s ease;

    .active {
      color: var(--theme-active-text);
    }

    .evnet {
      position: absolute;
      top: 5px;
      right: -5px;
      font-size: 8px;
      color: var(--point-orange);
      transform: rotate(15deg);
    }
    &:hover {
      color: var(--theme-active-text);
      .evnet {
        animation: clickBounce 0.8s infinite;
      }
    }
  }

  ul {
    min-width: min-content;
    width: 100%;
    position: absolute;
    background: var(--theme-background-primary);
    border: 2px solid var(--theme-border-default);
    border-radius: 4px;

    li {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 4px;
      position: relative;
      &:not(:last-child)::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--theme-border-default);
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &:hover {
        color: var(--theme-active-text);
        cursor: pointer;
      }

      &.active {
        color: var(--theme-active-text);
      }
    }
  }
  &.down {
    ul {
      top: calc(100% + 4px);
    }
  }
  &.up {
    ul {
      bottom: calc(100% + 4px);
    }
  }

  &:hover {
    button,
    ul {
      border-color: var(--theme-border-default);
    }
    button {
      color: var(--theme-text-default);
    }
  }
}

@keyframes clickBounce {
  0%,
  100% {
    transform: rotate(15deg) translateY(0);
  }
  50% {
    transform: rotate(15deg) translateY(-2px);
  }
}
