.wrap {
  padding: 0 var(--spacing-3);
  position: relative;

  button {
    position: relative;
    z-index: 2;
  }

  > div {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);

    .firstDot,
    .lastDot {
      display: inline-block;
      width: 4px;
      height: 100%;
      position: absolute;
      background: var(--point-mint);
      border-radius: 4px;

      &.lastDot {
        right: 0;
      }

      span {
        width: 8px;
        height: 8px;
        position: absolute;
        left: -2px;
        top: -2px;
        border-radius: 50%;
        border: 2px solid var(--point-mint);
        animation: spread 1.5s infinite ease-out;
      }
    }
  }

  button:hover + div {
    .firstDot,
    .lastDot {
      span {
        top: 0;
        border: 0;
        animation: none;
      }
    }

    .firstDot {
      width: 100%;
      animation: full 0.5s 1 ease-out;
    }
  }
}

@keyframes spread {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes full {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
