@use '@/shared/styles/_mixins.scss' as m;

.wrap {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing-4);
  width: 100%;
  min-height: fit-content;

  .item {
    width: 100%;
    min-height: 300px;
    display: flex;
  }

  // 중간 크기 화면 (태블릿 가로)
  @media (max-width: 1200px) and (min-width: 769px) {
    gap: var(--spacing-3);

    &[data-columns='4'] {
      grid-template-columns: repeat(3, 1fr);
    }

    &[data-columns='3'] {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      min-height: 280px;
    }
  }

  @include m.breakpoint(tablet) {
    gap: var(--spacing-3);

    &[data-columns='4'] {
      grid-template-columns: repeat(1, 1fr);
    }

    &[data-columns='3'] {
      grid-template-columns: repeat(1, 1fr);
    }

    &[data-columns='2'] {
      grid-template-columns: repeat(1, 1fr);
    }

    &[data-columns='1'] {
      grid-template-columns: 1fr;
    }

    .item {
      min-height: 260px;
    }
  }

  @include m.breakpoint(mobile) {
    gap: var(--spacing-2);

    &[data-columns='4'],
    &[data-columns='3'],
    &[data-columns='2'] {
      grid-template-columns: 1fr;
    }

    &[data-columns='1'] {
      grid-template-columns: 1fr;
    }

    .item {
      min-height: 250px;
    }
  }
}
