@use '@/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  justify-content: center;
  padding: var(--spacing-2) 0;

  @include m.breakpoint(tablet) {
    padding: var(--spacing-1) 0;
  }

  @include m.breakpoint(mobile) {
    padding: var(--spacing-1) 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 calc(-1 * var(--spacing-3));
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }
}

