@use '@/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  align-items: center;
  padding: var(--container-padding);
  border-top: 1px solid var(--theme-border-default);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  p {
    @include m.font(var(--theme-text-secondary), 0.75rem);
  }
  small {
    height: fit-content;
    align-self: flex-end;
    @include m.font(var(--theme-text-secondary), 0.75rem);
  }
}
