@use '@/styles/_mixins.scss' as m;
@use '@/styles/_skeleton.scss' as skeleton;

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  height: 100%;

  .contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-2);

    .tabs {
      display: flex;
      justify-content: flex-end;

      .tabsSkeleton {
        display: flex;
        gap: var(--spacing-2);
        justify-content: flex-end;
      }

      .tabSkeleton {
        @include skeleton.skeleton-base;
        width: 80px;
        height: 36px;
        border-radius: 20px;
        cursor: default;
        pointer-events: none;
      }
    }

    .bottom {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--spacing-4);

      .bottomSkeleton {
        @include skeleton.skeleton-base;
        width: 120px;
        height: 20px;
      }

      .indicators {
        display: flex;
        gap: var(--spacing-2);

        .indicator {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #999;
          transition: all 0.3s ease;

          &.active {
            width: 24px;
            border-radius: var(--spacing-1);
            background: #1a1a1a;
          }
        }
      }
    }
  }
}
