.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-10) var(--spacing-5);

  .bottom {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    width: 100%;

    .links {
      display: flex;
      gap: var(--spacing-3);
      width: 100%;
      padding: 0 var(--spacing-2);

      li {
        flex: 1;
      }
    }
  }
}
