.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6);
  width: 100%;
  padding-bottom: var(--spacing-5);
  position: fixed;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--theme-background-primary)
  );
  z-index: 9998;

  .gnbWrap {
    display: flex;
    align-items: center;
    padding: var(--spacing-1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 4px rgba(var(--theme-color-primary-inverse-rgb), 0.4);
    border-radius: var(--spacing-10);

    li {
      overflow: hidden;
      position: relative;

      &.active {
        a {
          color: var(--theme-active-text);
          font-weight: 600;
        }
        
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
          height: 2px;
          background: var(--theme-active-text);
          border-radius: 2px;
        }
      }
      
      a {
        display: block;
        padding: var(--spacing-4) var(--spacing-6);
        transition: color 0.2s ease, font-weight 0.2s ease;

        &:hover {
          background: var(--theme-background-secondary);
        }
      }

      &:first-child {
        border-radius: calc(var(--spacing-10) - var(--spacing-1)) 0 0
          calc(var(--spacing-10) - var(--spacing-1));
      }
      &:last-child {
        border-radius: 0 calc(var(--spacing-10) - var(--spacing-1))
          calc(var(--spacing-10) - var(--spacing-1)) 0;
      }
    }
  }

  .links {
    display: flex;
    gap: var(--spacing-2);

    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
}
