.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--theme-border-default);

  h1 {
    display: flex;
  }

  .right {
    display: flex;
    gap: 8px;
  }
}
