.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);
  position: sticky;
  top: 0;
  z-index: 99;
  background: var(--theme-header-background);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 var(--accents-2);

  .right {
    display: flex;
    gap: 8px;
  }
}
