@use '@/styles/_mixins.scss' as m;

.wrap {
  min-width: 900px;
  width: 800px;
  max-width: 60%;
  margin: auto;

  @include m.breakpoint(tablet) {
    min-width: 600px;
    width: 500px;
    max-width: 80%;
  }

  @include m.breakpoint(mobile) {
    min-width: unset;
    width: 90%;
    max-width: unset;
  }

  > section {
    min-height: 100vh;
    padding: var(--spacing-10) 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;

    @include m.breakpoint(mobile) {
      min-height: unset;
      scroll-snap-align: none;
      scroll-snap-stop: normal;
    }
  }
}
