@use '@/styles/_mixins.scss' as m;

.wrap {
  position: absolute;
  left: 50%;
  bottom: var(--spacing-5);
  transform: translateX(-50%);

  > ul {
    display: flex;
    align-items: center;
    gap: 0 var(--spacing-5);
    height: 60px;
    padding: 0 var(--spacing-5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 4px rgba(var(--theme-color-primary-inverse-rgb), 0.4);

    > li {
      position: relative;
      min-width: 100px;

      &:not(:last-child):after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(var(--theme-color-primary-inverse-rgb), 0.2);
        position: absolute;
        top: 0;
        right: -10px;
        transform: translateX(-50%);
      }

      &:has(> button) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
