@use '@/shared/styles/_mixins.scss' as m;

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 100%;
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-3);

  .title {
    font-weight: 500;
  }

  .content {
    padding-left: var(--spacing-5);

    .contentItem {
      position: relative;

      & + * {
        margin-top: var(--spacing-1);
      }

      &::before {
        content: '→';
        position: absolute;
        left: -14px;
        top: 2px;
        font-size: 12px;
      }
    }
  }

  .point {
    margin-top: auto;
    background: var(--theme-background-primary);
    padding: var(--spacing-3);
    border-radius: var(--spacing-2);
    border: 1px solid #e0e0e0;

    @include m.breakpoint(mobile) {
      margin-top: var(--spacing-3);
    }

    .pointLabel {
      font-size: 14px;
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
      color: #1a1a1a;
    }

    .pointText {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
    }
  }
}
