.wrap {
  padding: var(--spacing-4);

  .blockquote {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    height: 100%;

    .quoteMark {
      display: inline-block;
      height: 26px;
      font-size: 48px;
    }

    .quoteText {
      display: inline-block;
      font-size: 1.25rem;
    }

    .quoteAuthor {
      margin-top: auto;
      text-align: right;
      font-size: 0.85rem;
      color: #333;
    }
  }
}
